<!DOCTYPE html>
    <html>
        <body class="template">
            <form method = "post">
                <label style="margin-left:50px" for="email">Email:</label>
                <input style="border-radius:50px;" type="text" name="email">
                <label style="margin-left:50px;" for="password">Password:</label>
                <input style="border-radius:50px;" type="text" name="password">
                <input style="margin-left:50px; border-radius:50px;" type="submit" value="submit">
                <h3>Invalid user credentials</h3>
            </form>
        </body>
    </html>